@charset "UTF-8";

/* CORES PARA O STILO
#2C4001
#D9731A
#8C3503
#730C02
#310D19
*/

body{
    background-image: linear-gradient(to right , #D9731A ,#8C3503  ) ;
    
}

p{
    text-align: justify;
}
main{
    margin: auto;
    padding: 10px;
    width: 500px;
    background-color:white ;
    border-radius: 20px;
    font: normal normal 16px sans-serif;
    box-shadow: 10px 10px 15px #692803;
    
}

main:hover{
    box-shadow: 20px 20px 25px #692803;

}
